<script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>

<form method="post" >
	<input name="GeneID" placeholder="GeneID" >
	<input name="Constraint" placeholder="Constraint position" >
	<input type="number" name="Zscore" placeholder="Zscore cutoff">
	<input type="submit" value="Submit GeneID and cutoff" >
</form>

<div class="div" id="graphDiv" style="border: thin solid black">
	<p>
		<b>
			<i>
				Probabilities of being unpaired (Accessibility) for Gene {{GeneID}} before and after interaction (Zoom and pan to see details)</b>
				<br> <br>
			</i>
	</p>
</div>

<script>

 data =  d3.json("/get-data").then(function(data) {
	 console.log(data);
 });

 height = 500
 width  = 500
 margin = ({top: 20, right: 30, bottom: 30, left: 40})

 const svg = d3.select("#graphDiv")
 svg.append("svg")
 svg.attr("viewBox", [0, 0, width, height]);

</script>

<!--
	 partition.nodes(root);
	 x.domain([0, root.value]).nice();
	 down(root, 0);


	 x = d3.scaleLinear()
     .domain(d3.extent(data, d => d.values.0))
     .range([margin.left, width - margin.right])

	 y = d3.scaleLinear()
     .domain(d3.extent(data, d => d.values.1)).nice()
     .range([height - margin.bottom, margin.top])

	 color = d3.scaleSequential(y.domain(), d3.interpolateTurbo)

	 xAxis = g => g
     .attr("transform", `translate(0,${height - margin.bottom})`)
     .call(d3.axisBottom(x).ticks(width / 80).tickSizeOuter(0))
     .call(g => g.select(".domain").remove())

	 yAxis = g => g
     .attr("transform", `translate(${margin.left},0)`)
     .call(d3.axisLeft(y))
     .call(g => g.select(".domain").remove())
     .call(g => g.select(".tick:last-of-type text").append("tspan").text(data.y))

	 line = d3.line()
	 .curve(d3.curveStep)
	 .defined(d => !isNaN(d.diff))
	 .x(d => x(d.values.0))
	 .y(d => y(d.values.1))

	 const svg = d3.select("#graphDiv")
	 svg.append("svg")
	 svg.attr("viewBox", [0, 0, width, height]);

	 svg.append("g")
	 .call(xAxis);

	 svg.append("g")
	 .call(yAxis);

	 svg.append("linearGradient")
	 .attr("id", gradient.id)
	 .attr("gradientUnits", "userSpaceOnUse")
	 .attr("x1", 0)
	 .attr("y1", height - margin.bottom)
	 .attr("x2", 0)
	 .attr("y2", margin.top)
	 .selectAll("stop")
	 .data(d3.ticks(0, 1, 10))
	 .join("stop")
	 .attr("offset", d => d)
	 .attr("stop-color", color.interpolator());

	 svg.append("path")
	 .datum(data)
	 .attr("fill", "none")
	 .attr("stroke", gradient)
	 .attr("stroke-width", 1.5)
	 .attr("stroke-linejoin", "round")
	 .attr("stroke-linecap", "round")
	 .attr("d", line);

	 </script>

-->

<style>
 svg {
	 font: 10px sans-serif;
 }
 .y.axis path {
	 display: none;
 }
 .y.axis line {
	 stroke: #fff;
	 stroke-opacity: .2;
	 shape-rendering: crispEdges;
 }
 .y.axis .zero line {
	 stroke: #000;
	 stroke-opacity: 1;
 }
 .title {
	 font: 300 78px Helvetica Neue;
	 fill: #666;
 }
 .birthyear,
 .age {
	 text-anchor: middle;
 }
 .birthyear {
	 fill: #fff;
 }
 rect {
	 fill-opacity: .6;
	 fill: #e377c2;
 }
 rect:first-child {
	 fill: #1f77b4;
 }
</style>
